button{
    background-color: skyblue;
    color: #192734;
}
button:hover{
    background-color:#192734;
    color: skyblue;
}

img{
    width: 100%;
    cursor: pointer;
}

h5
{
    color: #ffffff;
}